body{
    padding: 50px;
}

.waves {
    display: block;
}

.line{
    display: block;    
    clear: both;
}

.cell{
    border: 1px solid blue;
    width: 15px;
    height: 15px;
    display: block;
    float: left;
}